apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: tekado
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ${DOCKERHUB_USERNAME}/tekado-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 80
              name: http

